## Essentials
numpy
scipy
pandas
scikit-learn
jupyter
## Pandas optional dependencies
numexpr
bottleneck
## Matplotlib optional dependencies
Pillow
## Plots etc.
matplotlib
palettable
seaborn
ggplot
plotly
mpld3
bokeh
ipympl
## Checkers
flake8
pylint
## Tests
pytest
mock
nose
## Documentation
Sphinx
## See CPU load etc.
psutil
## Show pip dependencies: https://github.com/naiquevin/pipdeptree
pipdeptree
