# Ignore case while completing
set completion-ignore-case on

# Show all ambiguous matches for tab-completion 
set show-all-if-ambiguous on

# Immediately add a trailing slash when autocompleting symlinks to directories
set mark-symlinked-directories on

# More intelligent autocomopletion when cursor is between text
set skip-completed-text on

# Vi-mode
set editing-mode vi

# Source /etc/inputrc if exists
$include /etc/inputrc
